
@import '../_variables/variables';


// structure of lorem 
@mixin font-weight-p {
    color: $colorOp;
    font-weight: 100;
}

@mixin alink-props{
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: $transition;
    cursor: pointer;
    &:hover{
      background-color: $colorBlack;
    }
}

// BREAK POINTS
@mixin breakpoint($point){
    $my-map: map-get($breakpoints, $point ); 
    @if $my-map {
        @media screen and (#{$my-map}) {
            @content;
        }
    } @else{ @error "Opps! Seems like breakpoint #{$point} isn't defined yet!"

    } 
};
//PADDINGS ---
@mixin paddings{
    @include breakpoint(fk){
        padding: 50px 50px 0 50px !important;
      }
      @include breakpoint(lp-lg){
        padding: 30px 30px 0 30px !important;
      }
      @include breakpoint(md){
        padding: 20px 20px 0 20px !important;
      }
      @include breakpoint(sm){
        padding: 10px 10px 0 10px !important;
      }
};
@mixin marginLoremDetails{
    @include breakpoint(fk){
        margin-left: 50px;
        margin-top: 50px ;
      }
    @include breakpoint(lp-lg){
        margin-left: 30px;
        margin-top: 30px ;

      }
    @include breakpoint(md){
        margin-left: 0;
        margin-top: 20px ;

      }
    @include breakpoint(sm){
        margin-left: 0;
        margin-top: 10px ;

      }
};
//FONT SIZES ----
@mixin fontSizeuppercase{
    @include breakpoint(fk){
        font-size: 82px;
    }
    @include breakpoint(lp-lg){
            font-size: 50px;
    }
    @include breakpoint(md){
        font-size: 30px;
}
}
//footer links
@mixin font-size-footerlinks{
  @include breakpoint(fk){
    font-size: 16px !important;
}
      @include breakpoint(lp-lg){
        font-size: 13px !important;
}
      @include breakpoint(lp){
        font-size: 10px !important;
}
      @include breakpoint(sm){
        font-size: 10px !important;
}
      @include breakpoint(xxsm){
        font-size: 10px !important;
}
}
//title
@mixin fontsizesTitle{
    @include breakpoint(fk){
        font-size: 82px;
    }
    @include breakpoint(lp-lg){
            font-size: 50px;
    }
    @include breakpoint(md){
        font-size: 40px;
    }
    @include breakpoint(sm){
      font-size: 30px;
    }
}
//paragraph
@mixin fontsizeParagraph {
    @include breakpoint(fk){
        font-size: 16px;
      }
      @include breakpoint(lp-lg){
        font-size: 12px;
      }
      @include breakpoint(md){
        font-size: 10px;
      }
      @include breakpoint(xxsm){
        font-size: 8px;
      }

}
// IMAGES SIZE ---
@mixin sizeimges{
    @include breakpoint(fk){
        height: 404px;
        width: 404px;
  }
     @include breakpoint(lp-lg){
        height: 232px;
        width: 232px;
  }
  @include breakpoint(lp){
    height: 200px;
    width: 200px;
}
    @include breakpoint(md){
        height: 132px;
        width: 132px;
  }
  @include breakpoint(xxsm){
        height: 100px;
        width: 100px;
  }

}
@mixin rightSizes{
  @include breakpoint(fk){
    height: 304px;
    width: 304px;
}
 @include breakpoint(lp-lg){
    height: 182px;
    width: 182px;
}
@include breakpoint(lp){
height: 150px;
width: 150px;
}
@include breakpoint(md){
    height: 132px;
    width: 132px;
}
@include breakpoint(xxsm){
    height: 100px;
    width: 100px;
}
}
@mixin numberFsize{
        @include breakpoint(fk){
            font-size: 304px;
      }
         @include breakpoint(lp-lg){
            font-size: 182px;
      }
      @include breakpoint(lp){
        font-size: 150px;
    }
        @include breakpoint(md){
            font-size: 132px;
      }
      @include breakpoint(xxsm){
            font-size: 100px;
      }
    
}

