@import '/public/_mixins/mixins';
@import "/public/_variables/variables";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200;1,300;1,900&family=Ubuntu:ital,wght@0,300;0,500;1,400;1,700&display=swap');

.bodyContainer{
    flex: 1 1 40%;
}
.middleBox{
    flex: 1 1 50%;
    background-image: url("../../../public/imgs/foodmeal.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    @include breakpoint(md){
        min-height: 40vh;
}
}
.middleBoxMD{
    flex: 1 1 40%;
}
.fisrtBox{
    justify-content: space-evenly;
    align-items: flex-start;
}
.rightBox, 
.fisrtBox{
    flex: 1 1 20%;
}
.p{
    @include breakpoint(fk){
        margin: 0 0 50px 50px;
      }
      @include breakpoint(lp-lg){
        margin: 0 0 30px 30px ;
      }
      @include breakpoint(md){
        margin: 0 0 20px 0;
      }
      @include breakpoint(sm){
        margin: 0 0 10px 0;
      }
    @include font-weight-p;
    @include fontsizeParagraph;
}
.loremTitleBox{
    @include marginLoremDetails;
}
.title{
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: $colorHeader;
    @include fontsizesTitle;
}
.smallDetails{
    color: $colorOp;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
    @include fontsizeParagraph;
}
// images
.imgLeft{
    @include breakpoint(fk){
        margin-left: -100px;
    }
    @include breakpoint(lp-lg){
        margin-left: -64px;
  }
  @include breakpoint(lp){
      margin-left: -54px;
    }
    @include breakpoint(md){
        margin-left: -31px;
    }
}
.img, .h1{
    @include sizeimges;
}
.imgRight{
    z-index: 2;
    position: relative;
    flex-grow: 0 !important;
   @include rightSizes;
@include breakpoint(fk){
    margin-right: -250px;
}
@include breakpoint(lp-lg){
    margin-right: -200px;
}
@include breakpoint(lp){
  margin-right: -100px;
}
@include breakpoint(md){
    margin-right: 0;
    right: -31px;
    top: 10%;
  }
}
//number
.h1Number{
    @include numberFsize;
    z-index: 1;
    stroke: $colorOp;
    color: transparent;
    stroke-width: 1px;
    -webkit-text-stroke-color: $colorOp;
    -webkit-text-stroke-width: 1px;
    @include breakpoint(fk){
        margin-right: -150px;
    }
    @include breakpoint(lp-lg){
        margin-right: -94px;
    }
    @include breakpoint(lp){
      margin-right: -64px;
    }
    @include breakpoint(md){
        margin-right: 50px;
    }
}
