@import '../../../public/_mixins/mixins';
@import '../../../public/_variables/variables';

.img{
    width: 326.09px;
    height: 364px;
    @include breakpoint (laptop-lg){
        width: 300px;
        height: 300px;
    }
   
    @include breakpoint (md){
        width: 300px;
        height: 300px;
    }
    @include breakpoint (sm){
        width: 200px;
        height: 200px;
    }
    @include breakpoint (xsm){
        width: 150px;
        height: 150px;
    }
}
.imgL{
    transform: translate(50%);
    @include breakpoint (laptop-lg){
        transform: translate(-50%);
    }
    @include breakpoint (tablets){
        transform: translate(-50%);
    }  
    @include breakpoint (sm){
        transform: translate(0%);
    }
    @include breakpoint (xsm){
        transform: translate(10%);
    }
    @include breakpoint (md){
        transform: translate(50%);
    }
}
.imgleft{
    transform: translate(50%);
    @include breakpoint (fkscreen){
        transform: translate(100%);
    }
    @include breakpoint (laptop-lg){
        transform: translate(10%);
    }
    @include breakpoint (laptop-lg){
        transform: translate(10%);
    }
    @include breakpoint (tabletsLg){
        transform: translate(-60%);
        margin-bottom: -5rem;
    }
    @include breakpoint (tablets){
        transform: translate(0);
        font-size: 200px;
    }
    @include breakpoint (sm){
        margin-bottom: 0;
    }
    @include breakpoint (xsm){
        font-size: 100px;
        margin-bottom: 150px;    
    }
}
.h1{
    font-size: 364px;
    transform: translate(75%);
    @include breakpoint (fkscreen){
        transform: translate(100%);
    }
    @include breakpoint (laptop-lg){
        font-size: 300px;
        transform: translate(50%);
    }
    @include breakpoint (laptop){
        font-size: 300px;
        transform: translate();
    }
    @include breakpoint (tabletsLg){
        margin: 0;
        transform: translate(-80%);
        margin-bottom: 5rem;
    }
    @include breakpoint (tablets){
        transform: translate(50%);
        font-size: 200px;
        margin-top: 4rem;
    }
    @include breakpoint (md){
        font-size: 300px;
        margin-bottom: 300px;
    }
    @include breakpoint (sm){
        font-size: 200px;
    }
    @include breakpoint (xsm){
        font-size: 150px;
        transform: translate(40%); 
    }
}
.p{
    font-size: .8rem;
    @include font-weight-p;
    @include breakpoint (sm){
        font-size: .7rem;
    }
    @include breakpoint (fullHD){
        font-size: 1rem;
    }
}
