@import "../../../public/_variables/variables";
@import "../../../public/_mixins/mixins";

.bodyContainer{
    //left box----------
    .fisrtBox{
        row-gap: 50px;
        @include breakpoint (laptop-lg){
            row-gap: 30px;
                }
        @include breakpoint (tablets){
            row-gap: 20px;
                }
        @include breakpoint (md){
            row-gap: 16px;
                }
        @include breakpoint (xsm){
            row-gap: 10px;
                }
        .loremTitleBox{
            flex-direction: column;
            row-gap: 0;
            .smallDetails{
                @include font-weight-p;
                letter-spacing: 1px;
                font-size: .3rem;
                text-transform: uppercase;
                @include breakpoint (fullHD){
                    font-size: .7rem;
                }
                @include breakpoint (laptop-lg){
                    font-size: .7rem;
                }
                @include breakpoint (laptop){
                    font-size: .4rem;
                }
                @include breakpoint (md){
                    font-size: .7rem;
                }
            }
            .title{
                color: $colorHeader;
                font-size: 50px;
                font-weight: bolder;
                @include breakpoint (fullHD){
                    font-size: 5rem;
                }
                @include breakpoint (laptop){
                    font-size: 2rem;
                }
                @include breakpoint (tablets){
                }
                @include breakpoint (md){
                    font-size: 3rem;
                }
            }
        }
    }
    .middleBox{
        background-image: url("../../../public/imgs/foodmeal.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        @include breakpoint (tablets){
            min-height: 50vh;
        }
    }
    
    .number2{
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-color: white;
        -webkit-text-stroke-width: 5px;
    }
}
