@import '/public/_mixins/mixins';
@import "/public/_variables/variables";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200;1,300;1,900&family=Ubuntu:ital,wght@0,300;0,500;1,400;1,700&display=swap');

.bodyContainer{
    flex: 1 1 40%;
}
.middleBox{
    flex: 1 1 50%;
    background-image: url("../../../public/imgs/foodmeal.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.middleBoxMD{
    flex: 1 1 40%;
}
.fisrtBox{
    justify-content: center;
}
.rightBox, 
.fisrtBox{
    flex: 1 1 20%;
}
.p{
    @include breakpoint(fk){
        padding: 0 0 50px 50px;
      }
      @include breakpoint(lp-lg){
        padding: 0 0 30px 30px ;
      }
      @include breakpoint(md){
        padding: 0 0 20px 20px;
      }
      @include breakpoint(sm){
        padding: 0 0 10px 10px;
      }
    @include font-weight-p;
    @include fontsizeParagraph;
}
.loremTitleBox{
    @include marginLoremDetails;
}
.title{
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: $colorHeader;
    @include fontsizesTitle;
}
.smallDetails{
    color: $colorOp;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
    @include fontsizeParagraph;
}
// images
.img, .h1{
    @include sizeimges;
}
.imgLeft{
    @include breakpoint(fk){
        margin-left: -153px;
  }
     @include breakpoint(lp-lg){
        margin-left: -100px;
  }
  @include breakpoint(lp){
    margin-left: -94px;
}
    @include breakpoint(md){
        margin-left: -31px;
  }
}
.imgRight{
    @include breakpoint(fk){
        margin-right: -153px;
  }
     @include breakpoint(lp-lg){
        margin-right: -100px;
  }
  @include breakpoint(lp){
    margin-right: -94px;
}
    @include breakpoint(md){
        margin-right: -31px;
  }


}
//number
.h1Number{
    @include numberFsize;
    stroke: $colorOp;
    color: transparent;
    stroke-width: 1px;
    -webkit-text-stroke-color: $colorOp;
    -webkit-text-stroke-width: 1px;
    @include breakpoint(fk){
        margin-right: -153px;
  }
     @include breakpoint(lp-lg){
        margin-right: -100px;
  }
  @include breakpoint(lp){
    margin-right: -94px;
}
    @include breakpoint(md){
        margin-right: -31px;
  }
}


// @include breakpoint(fk){
//     background-color: red;
//   }
//   @include breakpoint(fhd){
//     background-color: green;
//   } 
        // @include breakpoint(lp-lg){
//     background-color: black;
//   }
        // @include breakpoint(lp){
//     background-color: blue;
//   }
        // @include breakpoint(md){
//     background-color: orangered;
//   }
        // @include breakpoint(sm){
//     background-color: grey;
//   }
//   @include breakpoint(xsm){
//     background-color: rgb(255, 0, 230);
//   }
//   @include breakpoint(xxsm){
//     background-color: yellow;
//   }