@import '/public/_mixins/mixins';
@import "/public/_variables/variables";

.navbarHeader{
    width: 100%;
    position: relative;
    margin: 0;
    @include paddings;
}
.line{
    height: 1px;
    background-color: $colorOp;
    bottom: .5px;
    @include breakpoint(fk){
        left: 50px;
        right: 50px;
      }
      @include breakpoint(lp-lg){
        left: 30px;
        right: 30px;
      }
      @include breakpoint(md){
        left: 20px;
        right: 20px;
        bottom: -.5rem;


      }
      @include breakpoint(sm){
            right: 10px;
            left: 10px;
      }
}
.navitem{
    height: 100%;
    transition: $transition;
    border-bottom: 3px solid transparent;
    margin: 0;
    position: relative;
    z-index: 2;
    @include breakpoint(sm){
        width: fit-content;
      }
}
.navlink{
    cursor: pointer;
    height: 100%;
    width: 100%;
    color: $colorOp;
    font-weight: 100;
    &:hover{
        color: $colorHeader;
    }
}
.homeActive{
    border-color: $colorHeader;
}
.active{
    border-color: $colorHeader;
}