@import "../../../public/_variables/variables";

#navbar{
    border-bottom: 1px solid $colorOp;
    padding: 0;
    .nav-item{
        height: 100%;
        transition: $transition;
        border-radius: 2px;
        border-bottom: 2px solid transparent;
        margin: 0;
        margin-bottom: -4px;
        .nav-link{
            color: $colorOp;
            font-weight: lighter;
            &:hover{
                color: $colorHeader;
            }
        }
    }
    #homeActive{
        border-bottom: 2px solid $colorHeader;
    }
    .active{
        border-bottom: 2px solid $colorHeader;
    }
    .navbar-toggler{
        #navbar-toggler-icon{
            background-color: $colorHeader;
        }
    }
}
@media screen and (min-width: 1920px){
    #navbar{
        .navbar-brand{
            img{
                height: 4rem;
                width: 4rem;
            }
        }
        .nav-item{
            border-radius: 5px;
            border-bottom: 5px solid transparent;
            margin: 0;
            margin-bottom: -7px;
            .nav-link{
                font-size: 3rem;
                margin-right: 1rem;
                &:hover{
                    color: $colorHeader;
                }
            }
        }
        .active{
            border-bottom: 5px solid $colorHeader;
        }
        

    }
    
}