@import '../../../public/_mixins/mixins';
@import "../../../public/_variables/variables";
#navbar{
    border-bottom: 1px solid $colorOp;
    padding: 0;
    width: 100%;
    margin: 0;
    .nav-item{
        height: 100%;
        transition: $transition;
        border-bottom: 3px solid transparent;
        margin: 0;
        font-weight: bold;
        position: relative;
        margin-bottom: -3px;
        z-index: 2;
        .nav-link{
            font-weight: lighter;
            @include font-weight-p;
            &:hover{
                color: $colorHeader;
            }
        }
    }
    #homeActive{
        border-color: $colorHeader;
    }
    .active{
        border-color: $colorHeader;
    }
}