@import "../../../public/_variables/variables";
@import "../../../public/_mixins/mixins";

.footer{
    flex: 1 1 10%;
    display: flex;
    margin-top: 57px;;
    align-items: flex-end;
    background-color: tra;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-nav-box{
        height: 41px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .footer-nav{
        @include line-border;
        border-bottom-width: 2px;
        .footer-link{
            color: $colorOp;
            transition: $transition;
            font-size: .6rem;
            &:hover{
                color: $colorHeader;
            }
        }
        .active{
            transform: scale(1.2);
            color: $colorHeader;
        }
        #homeActive{
            transform: scale(2);
        }
    }
    .line{
        height: 2px;
        margin: -2px 0 0 0;
        background-color: $colorHeader;
        width: 20%;
        transition: $transition;
    }
.rightNav{
    height: fit-content;
    #child1{
        @include breakpoint (md){
        display: flex;
        justify-content: flex-start;
        align-items: center;
        }
        @include breakpoint (md){
            display: flex;
            justify-content: center;
            align-items: center;
         }
    }
    .arrows{
        flex: 1 1 30%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        span{
            @include alink-props;
            font-size: 1rem;
            height: 45px;
            width: 45px;
            border: 1.5px solid $colorHeader;
            cursor: pointer;
            font-size: 1.5rem;
            @include breakpoint (lp-lg){
                height: 30px;
                width: 30px;
            }
            .smallArrowsR{
                margin-left: -.5rem;
            }
            .smallArrowsL{
                margin-right: -.5rem;
            }
        }
    }
    // arrows box
    .medias{
        flex: 1 1 50%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        a{
            @include alink-props;
            font-size: 1.5rem;
            border: 1.5px solid $colorBlack;
            height: 60px;
            width: 60px;
            @include breakpoint (lp-lg){
                height: 45px;
                width: 45px;
            }
            &:hover{
                background-color: $colorBlack;
            }
        }
    }
}
}
