@import "../public/_variables/variables";


.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90vh;
  width: 100vw;
  padding: 2rem;
  align-self: center;
  overflow-x:  hidden !important;
}

@media screen and (max-width: 600px){
  .wrapper{
    padding: 1rem;
  }
  
}
@media screen and (max-width: 300px) {
  .wrapper{
    padding: .3rem;
  }
  
}
