@import "../public/_variables/variables";
@import "../public/_mixins/mixins";
.wrapper{
  height: 100%;
  margin: 0;
  background-color: transparent;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  @include breakpoint (md){
  padding: .5rem .1rem;
}
}

