@import "../public/_variables/variables";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;1,400;1,700&display=swap');

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: $bg;
  padding: 2rem;
  overflow-x: hidden;
  min-height: 100vh;
  *{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
  }
}
@media screen and (max-width: 600px){
  body{
    padding: 1rem;
  }
  
}
@media screen and (max-width: 300px) {
  body{
    padding: .3rem;
  }
  
}